body {
    background: linear-gradient(to bottom, brown, darkorange);

}
header {
    background: linear-gradient(to bottom, darkorange, brown);
}
footer {
    background: linear-gradient(to bottom, darkorange, brown);
}