<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/items.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="d-flex justify-content-center">
            <h1>Your Wishlist</h1>
        </nav>
    </header>
    <main>
        <!-- Success message display -->
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <p th:text="${successMessage}"></p>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${wishlist}">
                <th scope="row"></th>
                <td th:text="${item.name}">TestName1</td>
                <td th:text="${item.description}">TestDescription1</td>
                <td th:text="${item.link}">TestLink1</td>
            </tr>
            </tbody>
        </table>
        <a href="/addForm"><button type="button" class="btn btn-danger ms-3">ADD</button></a>

    </main>
    <footer class="mt-auto text-center">
        <p>BoefCity@EMC.com</p>
    </footer>

</body>
</html>